body{
  background:#1a1a1a;
  font-weight: 20px;
  font-size:20px;
  color: white;
}

.main-div{
  width: 100%;
}
.color{
  color: #ffffff;
}
.padding-nav{
padding: 3rem  10rem;
}
.login-button{
  color: white;
  background-color: transparent;
  border-radius: 28px;
  border: none;
  padding: 6px 18px;
}
.signup-button{
  color: black;
  background-color: #fcaa4d;
  border-radius: 28px;
  border: 2px solid #fcaa4d;
  padding: 6px 18px;

}
.signup-button:hover{
  color: #fcaa4d;
  background-color: transparent;
  border: 2px solid #fcaa4d;
}

.login-button:hover{
  color: #fcaa4d;
  background-color: grey;
  border: 2px solid black;
}

.footer-div{
  margin: 20px;
  
}
li{
  list-style: none;
}
li>span>a{
  text-decoration: none;
  color:white ;
  background-color: black;
}
.nav-color{
  background-color: #1a1a1a;
  color: white;
}

.dropdown-menu {
  background-color: black;
  color: white; 
}
.dropdown-item{
  color: white;
}

.dropdown-item:hover{
color:white;
background-color: rgb(72, 72, 72);
border-radius: 20px;

}
.list{
  padding: 0px;
}

.nav-item> a,.logo{
  color: white;
}
.logo:hover{
color: white;
}

.nav-item> a:hover{
  color: #fcaa4d;
}
.footer-link> a:hover{
  color: #fcaa4d;
}

.link{
  color: white;
}
.link:hover{
  color: #fcaa4d;
}

.card-div{
  border-radius: 9px;
  
  display: flex;
  justify-content: center;
}
.card-div1{
  border-radius: 9px;
  margin : 30px 0px ;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.card-bgColor{
  background-color: #262626;
  border-radius: 30px;
  color: white;
}
.card-bgColor1{
  background-color: #4436ca;
  border-radius: 30px;
  color: white;
}
  .card-div2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactSales-btn{
    color: #fcaa4d;
    background-color: transparent;
    border-radius: 28px;
    border: 2px solid #fcaa4d;
    padding: 6px 18px;
  }
  .contactSales-btn:hover{
    color: black;
    background-color: #fcaa4d;
    border-radius: 28px;
    border: 2px solid #fcaa4d;
    padding: 6px 18px;
  }
.btn-LearnMore{
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 28px;
  padding: 6px 18px;
}
.opensource-div{
  border-radius: 20px;
  /* border: 2px solid red; */
  background-color: #262626
}
.subscribe-div{
  border-radius: 20px;
  /* border: 2px solid red; */
  background-color: black
}

.subscribe-btn{
  background-color: #fcaa4d;
  color: black;
  border-radius: 100px;
  font-size: 25px;
}
.read-btn{
  color:white ;
  background-color: #262626;
  border: none;
}
.read-btn:hover{
  color:#fcaa4d;
}

.zerotier-btn{
  color: white;
  background-color: #262626;
  border-radius: 28px;
  border: 2px solid white;
  padding: 6px 18px;
}
.zerotier-btn:hover{
  color: #1a1a1a;
  background-color : white;
}

#colour{
  
  background-color: #fdb25d;
}
.nav-mar{
  padding: 0px 0px;
}

.freeSignUp-btn{
  color: black;
  background-color: white;
  border-radius: 28px;
  border: 2px solid transparent;
  padding: 6px 18px;
}
.freeSignUp-btn:hover{
  color: white;
  border:2px solid  white;
  background-color : #1a1a1a;
  
}
.contact-sales{
  color: white;
  background-color: blue;
  border-radius: 28px;
  border: none;
  padding: 6px 18px;
}

.contact-sales:hover{
  color: white;
  background-color: transparent;
  border: 2px solid blue;
 
}
.reviews{
  width: 100%;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.review-div{
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 20px;
  margin: 35px 190px;
  min-width: 30%;
  border-radius: 20px;
  font-size: 20px;
  background-image: linear-gradient(133deg, #fdb25d, #4436ca); 
  
}

.first-div{
  width: auto;
  margin: 0xp 5px;
  padding: 0px 5px;
}
.second-div{
  width: auto
}
.offerings{
 width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
}

.offerings-div{
  text-align: center;
  width: 280px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

} 
.pricing{
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pricing-div{
  text-align: center;
  background-color: #262626;  
  border-radius: 30px;
  margin:  10px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#icons-footer{
    width: 20px;
    display: flex;
}

#apple,
  #twitter,
  #github,
  #facebook {
	font-size: 1em;
	background-color: #18191f;
	color: #fff;
	box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
	  2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
	  inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
	  inset 2px 2px 10px #00000080;
	border-radius: 29px;
	padding: 11px 10px;
	margin: 0 40px;
	animation: animate 3s linear infinite;
	text-shadow: 0 0 50px #3dfb3a, 0 0 100px #c4d61a, 0 0 150px #0072ff,
	  0 0 200px #0072ff;
  }
  #twitter {
	animation-delay: 0.3s;
  }
  #facebook {
	animation-delay: 0.7s;
  }
  #github {
	animation-delay: 0.1s;
  }
  
  @keyframes animate {
	from {
	  filter: hue-rotate(0deg);
	}
	to {
	  filter: hue-rotate(360deg);
	}
}
@media only screen and (max-width: 1025px) {
  .padding-nav {
  padding: 3rem 2rem;
}}
@media only screen and (max-width: 1025px) {
  .review-div {
   margin: 50px 10px;
   width: 90%;
}}

@media only screen and (max-width: 640px) {
  .review-div {
   display:flex;
   flex-direction: column;
}}

